{% extends 'movies/base.html' %}
{% load static %}
{% block content %}
<div class="container mb-2 mt-5">
    <h1 class="mb-2">Available Movies</h1>
    <div class="row">
        {% for movie in movies %}
        <div class="col-md-4 mt-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ movie.poster.url }}" class="card-img-top" alt="{{ movie.title }}" style="height: 250px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text"><strong>IMDB</strong>: {{ movie.rating }}</p>
                    <p><strong>Director</strong>: {{ movie.director }}</p>
                    <a href="{% url 'booking_page' movie.id %}" class="btn btn-primary mt-3">Book Ticket</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
